#body-landing {
    padding-top: 70px;
}

html,
body, {
    width: 100%;
    height: 100%;
}

#callout-headline {
    top:10px;
    margin-bottom:40px;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
}

#partition {
    border: 1px solid #327b81;
}

.jumbotron {
    text-align: center;
}

#jumbopic {
    background-image: url('../assets/clothes.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    width: 100%;
    height: 680px;
}

#jumbotron-registration {
    margin-top:140px;
}

#container-signup {
    text-align: center;
}

.reify-info-icon {
    width:25%;
    height: 25%;
}

/* How it Works */

#reify-info {
    padding: 100px 50px;
}

.reify-info-item {
    margin-bottom: 30px;
    padding:20px 20px;
    color:#327b81;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
}
.reify-info-item p {
    color:#327b81;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
}

#reify-info-hr {
    border: 1px solid #327b81;
}

#reifyLogo {
    text-align: center;
    font-size: 3.5em;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    color:white;
    letter-spacing:6.17px;
}

#tagLine {
    text-align: center;
    font-size: 1.5em;
    position: relative;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 500;
    color:white;
    letter-spacing:2.17px;
}

/** Navbar **/
.navbar-inverse .navbar-nav>li>a {
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    color:#00BD7F;
}
.navbar-inverse .navbar-brand{
 font-family: 'Prata', serif;
 color:#00BD7F;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Custom Button Styles */
#signup {
    top:60px;
    width:200px;
    height:50px;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size:1.325em;
}
#signup-callout {
    top:60px;
    width:200px;
    height:50px;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,189,127,0.9);
    border-radius: 10px;

}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url('../assets/callout.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Footer */
.reify-footer {
    font-family: 'Prata', serif;
}

footer {
    padding: 50px 0;
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
}