@import url(https://db.onlinewebfonts.com/c/0154950b1c393c2cdff9968ada35f3f6?family=TrumpGothicEastW01-Regular);
@import url(https://db.onlinewebfonts.com/c/ac51ad8a36d5bab6da11d454bcd06561?family=Proxima+Nova);
@font-face {
    font-family: TrumpGothicEast;
    src: url('../fonts/trump_gothic_east.ttf') format('opentype');
}
@font-face {font-family: "Proxima Nova";
    src: url("https://db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.eot");
    src: url("https://db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.svg#Proxima Nova") format("svg");
}



html,
body {
    width: 100%;
    height: 100%;
}

/* measurements specific styling */

#measurement-jumbopic {
    background-image: url('../img/callout.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-attachment: scroll;
    width: 100%;
    height: 60%;
    text-align: center;
}

#jumbotron-measurement-headline {
    color:white;
    font-family:"Proxima Nova";
    font-size: 4em;
}

/* measurements styling end */


/* navbar styling */
.navbar-inverse .navbar-brand:hover {
    color:#327b81;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color:#327b81;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: grey;
}

.navbar-inverse .navbar-toggle {
    background-color: #327b81;
    border-color:transparent;
}

.navbar-inverse {
    font-family: "Proxima Nova";
    background-color: white;
    border: none;
}

/* navbar styling ends */


/* index page styling */

#jumbopic {
    background-image: url('../img/manHuge.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    text-align: center;
}

#jumbotron-registration {
    margin-top:140px;
}

#container-signup {
    text-align: center;
}

#callout-section {
     display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* How it Works */

.reify-info-icon {
    width:25%;
    height: 25%;
}

#reify-info {
    padding: 100px 50px;
}

.reify-info-item {
    margin-bottom: 30px;
    padding:20px 20px;
    color:#327b81;
    font-family: "Proxima Nova";
}

#reify-info-hr {
	border: 1px solid #327b81;
}

#reify-logo {
    text-align: center;
    font-size: 12.5em;
    font-family: TrumpGothicEast;
    color:#327b81;
    letter-spacing:6.17px;
}

#tag-line {
    text-align: center;
    font-size: 1.5em;
    position: relative;
    font-family: "Proxima Nova";
    color:#327b81;
    letter-spacing:2.17px;
    top:-25px;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Button Styles end */


/* Generic Styling */

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


/* Footer */

footer {
    padding: 50px 0;
}










